
body
{
  font-size: 12pt;
  }

pre
{
  border-right:     gray 1pt solid;
  border-top:       gray 1pt solid;
  border-left:      gray 1pt solid;
  border-bottom:    gray 1pt solid;
  margin-left:      0pt;
  background-color: #EEEEEE;
  font-size:        smaller;
  }

.button 
{ 
  color :            black;
  background-color : #FFFFFF;
  border-radius:     0px;
  border:            outset 3px #d6d6d6;
  text-decoration :  none;
  outline:none;
  }

.fs 
{
  font-family: courier; 
  font-size:   11pt;
  font-weight: bold;
  color:       maroon;
  }

.code_string 
{
  font-family:  courier; 
  font-size:    11pt;
  font-weight:  bold;
  color:        #bc8f8f;
  }

.code 
{
  /*
     top: 0;
     border-style:     inset;
     margin-top:       5pt;
     margin-bottom:    5pt;
     margin-left:      5pt;
     margin-right:     5pt;
     border-width:     2px 2px 2px 2px ;
     */
  font-family: courier; 
  font-size:   11pt;
  font-weight: bold;
  color:       #228b22;
  }

.byte
{ 
  border-right:     gray 1pt solid;
  border-top:       gray 1pt solid;
  border-left:      gray 1pt solid;
  border-bottom:    gray 1pt solid;
  margin-left:      2pt;
  margin-right:     2pt;
  font-family:      courier; 
  font-size:        11pt;
  font-weight:      bold;
  color:            #000000;
  background-color: #eeeeee;
  } 

#pre
{
  border-right:     gray 1pt solid;
  border-top:       gray 1pt solid;
  border-left:      gray 1pt solid;
  border-bottom:    gray 1pt solid;
  margin-left:      1pt;
  margin-right:     1pt;
  background-color: #EEEEEE;
  }

/*
(C) Copyright 2011 François Mauger. 
Use, modification and distribution is subject to the Boost Software
License, Version 1.0. (See accompanying file LICENSE_1_0.txt or copy at
http://www.boost.org/LICENSE_1_0.txt)
*/